<h1>Matt's Rockin' Website</h1>
<%= render 'layouts/navigation_bar' %>

<% @posts.each do |post| %>
<div>
    <h2> <%= post.title %> </h2>
    <%= post.author %>
    <br>  
    <%= post.published_at %>
    <br>
    <%= post.body %>
    <br>
    Featured: <%= post.featured %>
    <br>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br><br>
</div>
<% end %>

<br />

<div>
<%= link_to 'New Post', new_post_path %>
</div>