<div class="page-header">
  <h1>Showing post
     <div class="pull-right">
      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary btn-sm" %>
      <%= link_to 'Back', posts_path, class: "btn btn-primary btn-sm" %>
    </div>
  </h1>
</div>



<p id="notice"><%= notice %></p>

<p><b>Author:</b><%= @post.author %></p>

<p><b>Title:</b><%= @post.title %></p>

<p><b>Body:</b><%= @post.body %></p>

<p><b>Published at:</b><%= time_tag(@post.published_at) %></p>

<p><b>Featured:</b><%= @post.featured %></p>

<div>
  <h2>Comments (<%= @post.comments.count %>)</h2>
  <% @post.comments.each do |comment| %>
    <% unless comment.new_record? %>
      <hr>
      <h4>
        <em><%= comment.author %></em> |
        <small> <%= time_tag(comment.created_at) %> </small>
      </h4>
      <%= simple_format(comment.message) %>
    <% end %>
  <% end %>
</div>

<h2>Add a comment</h2>
<%= render 'posts/comment_display' %>