<h2>Showing post</h2>

<nav>
<div class="wrapper">
    <ul class="menu" rel="sam1">
        <li class="item"> <%= link_to 'Edit', edit_post_path(@post) %> </li>
        <li class="item"> <%= link_to 'Back', posts_path %> </li>
    </ul>    
</div>
</nav>

<p id="notice"><%= notice %></p>
<div>
<p>
  <b>Author:</b>
  <%= @post.author %>
</p>
<hr>
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>
<hr>
<p>
  <b>Body:</b>
  <%= @post.body %>
</p>
<hr>
<p>
  <b>Published at:</b>
  <%= time_tag(@post.published_at) %>
</p>
<hr>
<p>
  <b>Featured:</b>
  <%= @post.featured %>
</p>
</div>

<div>
  <h3>Comments (<%= @post.comments.count %>)</h3>
  <% @post.comments.each do |comment| %>
    <% unless comment.new_record? %>
      <hr>
      <h4>
        <em><%= comment.author %></em> |
        <small> <%= time_tag(comment.created_at)  %> </small>
      </h4>
      <%= simple_format(comment.message) %>
    <% end %>
  <% end %>
</div>

<h2>Add a comment</h2>
<%= render 'posts/comment_display' %>